<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="cxHome">
        <header>
            <div id="logo">Bookverse</div>
            <div id="infoConta">
                <div><img src="../public/img/logo/logo-editor.svg" alt="" srcset=""></div>
                <div id="nome">
                   seu nome
                </div>
            </div>
        </header>
        <aside>
            <div id="add">add</div>
            <div id="listar">listar</div>
        </aside>
    </div>
</body>
</html>