<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#">
    <title>MVC</title>
</head>
<body>
    <div id="cxPrincipal">
        <div id="cxEsquerda">
            <div id="cxLogo">
                <img id="logo" src="/img/logo/logo-editor.svg" alt="" srcset="">
            </div>
            <form id="campoIpts">
                <div class="cxInput">
                    <label for="">Nome:</label>
                    <input type="text" placeholder="Fulando de Tal...">
                </div>
                <div class="cxInput">
                    <label for="">Senha:</label>
                    <input type="password" placeholder="Sua senha aqui...">
                </div>
            </form>
            <div id="cxLogin">
                <a href="/home"><button type="button">Logar</button></a>
            </div>
            <div id="ou">
             
                <p>ou</p>
             
            </div>
            <div id="cadastrar1" id="cadastrar">
                <a href="/cadastro">
                    <button id="btnCad">Cadastro</button>
                </a>
            </div>
        </div>
        <div id="cxDireita">
            <div id="frases">
                <p>Não possui conta conosco?</p>
                <p>Crie uma agora.</p>
            </div>
            <div id="cadastrar">
                <a href="/cadastro">
                    <button id="btnCad">Cadastro</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>