<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="author" content="Tarrique / Micuim">
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC</title>
</head>
<body id="cxCadastro">
    <div cxForms>
        <form action="" method="post" id="formsCad">
            <div class="itensInpt">
                <label for="">Título do livro:</label>
                <input type="text" placeholder="Título da obra">
            </div>
            <div div class="itensInpt">
                <label for="">Resenha:</label>
                <input type="text" placeholder="Resenha da obra">
            </div>
            <div class="itensInpt">
                <label for="">Autor(es):</label>
                <input type="text" placeholder="Autores da obra">
            </div>
            <div class="itensInpt">
                <label for="">ISBN:</label>
                <input type="text" placeholder="ISBN da obra">
            </div>
            <div class="itensInpt">
                <label for="">Editora</label>
                <input type="text" placeholder="Editora da obra">
            </div>
            <div id="upload">
                <h5>Carregue a imagem:</h5>
                <input type="image">
            </div>
        </form>
    </div>
</body>
</html>